<div data-role="header" data-position="fixed">
    <a id="back" href="#" data-icon="back">Back</a>
    <h4>Identify a bumblebee in 5 steps</h4>
</div>


<div data-role="content">
    <h2>Step 1:</h2>

    <p>
        Please take a picture or choose a picture from your Gallery
    </p>

    <h2>Step 2:</h2>

    <p>
        When your picture is ready you can can click on buttons:</p>

    <div class="row-fluid">
        <div class="span1">
            <div style="float:left;height:40px;width:40px;" class="ui-icon ui-icon-plus">&nbsp;</div>
        </div>
        <div class="span1">
            <div style="float:left;font-size:14pt;"> and</div>
        </div>
        <div class="span1">
            <div style="float:left;height:40px;width:40px;" class="ui-icon ui-icon-minus">&nbsp;</div>
        </div>
        <div class="span9">
            <div style="float:left;font-size:14pt;"> to zoom in and out</div>
        </div>
    </div>
    <p>also using</p>

    <div class="row-fluid">
        <div class="span1">
            <div style="float:left;height:40px;width:40px;" class="ui-icon ui-icon-forward">&nbsp;</div>
        </div>
        <div class="span1">
            <div style="float:left;font-size:14pt;"> and</div>
        </div>
        <div class="span1">
            <div style="float:left;height:40px;width:40px;" class="ui-icon ui-icon-back">&nbsp;</div>
        </div>
        <div class="span9">
            <div style="float:left;font-size:14pt;"> you can rotate the picture.</div>
        </div>
    </div>
    <h2>Step 3:</h2>

    <p>
        By clicking on the feature you can select the feature(s) that
        matches the bumblebee to narrow down your search...
    </p>

    <p>
        Alternatively you can select a species from the list of
        species on the bottom of the screen that matches the
        specimen of the bumblebee.
    </p>

    <p>
        You can also post the picture you took on you FB wall.
    </p>
    <p>
        You can also send an invitation text to your friend directly
        from the app.
    </p>

    <h2>Step 4:</h2>

    <p>
        On this screen you can read more about the bumblebee
        you identified before you go to the next screen to choose a
        location of taken photo.
    </p>

    <h2>Step 5:</h2>

    <p>
        You can see your current location on the map but if you
        took the photo of bumblebee in different place, you can
        write it in ADDRESS box.
    </p>
    <p>
        You can also give us an extra information about the place
        e.g. forest, farmland, garden, hedgerows or mountains.
    </p>
    <p>
        There is also a box where you can write an extra comment
        before you SUBMIT IDENTIFICATION.
    </p>
    <p>
        Again here you can post the picture you took on you FB
        wall.
    </p>
</div>