<div data-role="header" data-position="fixed">
    <a id="back" href="#" data-icon="back">Back</a>
    <h4 id="title"></h4>
    <a href="#" data-icon="info" data-role="button" class="ui-btn-right" id="about">How to use this app</a>
</div>


<div data-role="content">
<div class="well clearfix">
<div class="row-fluid">
<img id="bee_image" src="img/logo.png" class="span6"/>
<div class="span6">
<div id="bee_desc">
<div id="terrestris" class="hide">
    <p><b>Queen/Worker:</b> Queen has buff tail. Worker' tail is largely white, usually with a hint of
        buff at the front margin. Single yellow stripe on front of the thorax, one on the abdomen.
        Yellow bands slightly darker/dirtier than in the White-tailed bumblebee.
    </p>

    <p><b>Male:</b> As female, usually has buff tail.
    </p>

    <p><b>Similar species:</b><br>
        - <i>White-tailed bumblebee:</i> Male and queen have white tail. Worker is very hard to
        separate. </p>
</div>
<div id="pratorum" class="hide"><p>Often nesting in tit-boxes. Colonies are very short-lived,
    producing males as early as April. Rarely seen from July onwards.
</p>

    <p><b>Queen/Worker:</b> A small bee with an orangey-red tail. One yellow stripe on the thorax and
        one on the abdomen. The yellow band on the abdomen is sometimes missing in females.
    </p>

    <p><b>Male:</b>As female, but has a distinctive yellow face.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Red-tailed bumblebee:</i> Much less yellow overall.<br>
        - <i>Bilberry bumblebee:</i> Yellow bands are brighter. More red in the tail.</p></div>
<div id="pascuorum" class="hide"><p>Abundant everywhere.
</p>

    <p><b>Queen/Worker:</b> Almost entirely pale ginger-brown, with variable patches of black hairs on
        the abdomen.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Brown-banded carder bee and Moss carder bee:</i> Lack of black hairs on the abdomen.</p>
</div>
<div id="lucorum" class="hide"><p>A common bee, often nesting under garden sheds.
</p>

    <p><b>Queen/Worker:</b> Pure white tail. One lemon yellow band on front of the thorax and one on the
        abdomen.
    </p>

    <p><b>Male:</b> As female, but has yellow face. Has one more yellow band at the bottom of the
        thorax.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Buff-tailed bumblebee:</i> Male and queen have buff tails. Worker is very hard to separate.
    </p></div>
<div id="lapidarius" class="hide">Very common on chalk downland, frequent in gardens.
    <p><b>Queen/Worker:</b> Black bee with orange-red tail, which is less than 50% of length of abdomen.
    </p>

    <p><b>Male:</b> As female, but has yellow face, and yellow bands on the thorax.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Red-shanked carder bee:</i> Orange hairs of pollen basket on hind legs, not black.<br>
        - <i>Red-tailed cuckoo bumblebee:</i> Smoky wings, no pollen basket, abdomen has much less hair.
    </p></div>
<div id="hortorum" class="hide"><p><b>Queen/Worker:</b> A very long-tongued species preferring deep
    flowers (e.g. foxgloves, Delphinium, honeysuckle) with a white tail and yellow bands, including one
    at the rear of the thorax.
</p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Heath bumblebee:</i> Much shorter face.<br>
        - <i>Ruderal bumblebee:</i> Not easy to separate. All-black specimens are more likely to be
        Ruderal bumblebee. Front yellow band on the thorax is wider than the back one in Garden
        bumblebee.</p></div>
<div id="jonellus" class="hide"><p>A small bee, found on mountains, moorland, lowland heaths and
    sometimes in gardens.
</p>

    <p><b>Queen/Worker:</b>Two yellow bands on the thorax, one at the base of the abdomen. White or
        orange tail.
    </p>

    <p><b>Male:</b> As female, but has yellow face.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Garden bumblebee:</i> Much longer face. Male does not have yellow face.</p></div>
<div id="hypnorum" class="hide"><p>Colonised the UK only in 2001. Becoming common in gardens in the
    south of England but is spreading north. Prefers to nest in holes in trees.
</p>

    <p><b>Queen/Worker:</b> Unique brown, black, and white colour pattern.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Common carder bee:</i> No white tail.</p></div>
<div id="monticola" class="hide"><p>A montane species, found on moorland, in open forest and also
    visiting lowland meadows. Feeds predominantly on blaeberry, heaths, ling and white clover.
</p>

    <p><b>Queen/Worker:</b> Easily recognised by the extensive orange-red on the abdomen. Two yellow
        bands on the thorax.
    </p>

    <p><b>Male:</b> Same as female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Red-tailed bumblebee and Heath bumblebee:</i> None of these has the orange tail extending
        over anything like as much of the abdomen.</p></div>
<div id="soroeensis" class="hide"><p><b>Queen/Worker:</b> One lemon-yellow band on the thorax and one
    on the abdomen. The yellow band on the abdomen widens at each side of the 'waist'. Often a thin
    red/buff band bordering the white tail.
</p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>White-tailed bumblebee:</i> Bigger. Pure white tail. Yellow band on the abdomen is
        straight.<br>
        - <i>Buff-tailed bumblebee:</i> Much bigger. Yellow band on the abdomen is straight.</p></div>
<div id="humilis" class="hide"><p><b>Queen/Worker:</b> Entirely pale ginger-brown. Brown/ginger band
    towards the front of the abdomen.
</p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Common carder bee:</i> Black hairs on abdomen.<br>
        - <i>Moss carder bee:</i> Require microscopic examination.</p></div>
<div id="muscorum" class="hide"><p><b>Queen/Worker:</b> Similar to other carder bees. Entirely pale
    ginger-brown. Never has black hairs on the thorax and sides of the abdomen.
</p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Common carder bee:</i> Has black hairs on the abdomen.<br>
        - <i>Brown-banded carder bee:</i> Require microscopic examination.</p></div>
<div id="ruderatus" class="hide"><p><b>Queen/Worker:</b>Very long face and tongue. Queens very large.
    Variable colour patterns.
</p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Garden bumblebee:</i> Very hard to separate.<br>
        - <i>Heath bumblebee:</i> Much shorter face, generally smaller.</p></div>
<div id="ruderarius" class="hide"><p><b>Queen/Worker:</b> Black bee with orange-red tail with
    orange-red hairs on hind legs.
</p>

    <p><b>Male:</b> As female, with faint greenish-yellow bands on the thorax.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Red-tailed bumblebee:</i> Black hairs on pollen baskets, not orange-red.<br>
        - <i>Red-tailed cuckoo bumblebee:</i> Smoky wings, no pollen basket, longer abdomen.</p></div>
<div id="sylvarum" class="hide"><p>One of the two rarest bumblebees in the UK. A relatively small bee
    with a noticeably high-pitched buzz.
</p>

    <p><b>Queen/Worker:</b> Mainly greeny-grey, with a distinct black band running across the thorax
        between the wing base. The tail is orange-red but not bright or extensive.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Common carder bee, Brown-banded carder bee, Moss carder bee:</i> Faded and worn workers of
        these species can appear to have a black band between the wings. But they do not have an
        orange-red tail. </p></div>
<div id="distinguendus" class="hide"><p>Now found only in north and west Scotland. Late emerging,
    mainly seen between June and August.
</p>

    <p><b>Queen/Worker:</b> Entirely pale mustard-yellow, with a distinct band of black fur across the
        thorax between the wings. Face very long.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - None among currently known UK species.</p></div>
<div id="sylvestris" class="hide"><p>Widespread throughout UK. Attacks nests of Early bumblebee.
</p>

    <p><b>Female:</b> One yellow band on the thorax, one on the abdomen. White tail with black tip.
    </p>

    <p><b>Male:</b> Has distinctive reddish tip to abdomen.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Field cuckoo bumblebee:</i> The tip of the males' tail is black, not orange-red. </p></div>
<div id="campestris" class="hide"><p>Widespread and more abundant in the south. Attacks nests of
    Common carder bee.
</p>

    <p><b>Female:</b> Two yellow bands on the thorax, none on the abdomen. Tail with greenish-yellow
        side patches which are quite extensive, frequently being up to half the length of the abdomen.
    </p>

    <p><b>Male:</b> Sometimes entirely black, distinguished from male ruderal bumblebees (dark form) by
        much shorter face.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Forest cuckoo bumblebee:</i> The very tip of the males' tail is orange-red, not black.</p>
</div>
<div id="bohemicus" class="hide"><p>Widespread. Attacks mainly White-tailed bumblebee.
</p>

    <p><b>Female:</b> One mid-yellow band on thorax, none on abdomen. White tail with small mid-yellow
        side patches.
    </p>

    <p><b>Male:</b> Two yellow bands on thorax, usually none on abdomen.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Southern cuckoo bumblebee:</i> Darker yellow bands and larger side patches.</p></div>
<div id="vestalis" class="hide"><p>Attacks mainly Buff-tailed bumblebee.
</p>

    <p><b>Female:</b> One dark-yellow band on the thorax, none on the abdomen. White tail with clear,
        dark-yellow side patches.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Gypsy cuckcoo bumblebee:</i> Lighter yellow and smaller side patches.</p></div>
<div id="barbutellus" class="hide"><p>Widespread. Attacks mainly Garden bumblebee.
</p>

    <p><b>Female:</b> Two yellow bands on the thorax, one on the abdomen. White tail.
    </p>

    <p><b>Male:</b> As female.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Garden bumblebee:</i> Much longer face. Presence of pollen baskets.</p></div>
<div id="rupestris" class="hide">Southern species. Attacks mainly red-tailed bumblebees.
    <p><b>Female:</b> Black bee with orange-red tail.
    </p>

    <p><b>Male:</b> As female, but often has faint traces of greenish-yellow bands on the thorax.
    </p>

    <p><b>Similar species:</b><br>
        - <i>Red-tailed bumblebee and Red-shanked carder bee:</i> Has pollen baskets, shorter abdomen.
    </p></div>
</div>
</div>
</div>
</div>
<button id="send" class="submit">Choose location</button>
</div>