<div data-role="header" data-position="fixed">
    <h4>BeeApp</h4>
    <a href="#" data-icon="info" data-role="button" class="ui-btn-right" id="about">How to use this app</a>
</div>

<div data-role="content">
    <h2>Step 1 - Select a photo</h2>
    <h3> What is the purpose of this research? </h3>
    <p>Our research is looking into new ways in which we can help people develop identification skills through digital means. This will benefit UK monitoring and conservation of this important, but rapidly declining, group of insects.</p>
    <h3> What will we ask you to do? </h3>
    <p>We ask you to identify the species of bumblebee from photos, using our on-line identification guide for 22 UK species.</p>
    <div style="text-align: center;">
        <p>
            <button id="takeAPhoto" class="submit">Take A Photo</button>
        </p>

        <h4 style="text-align: center">--OR--</h4>

        <p>
            <button id="chooseAPhoto" class="submit">Choose A Photo</button>
        </p>

    </div>
</div>
