<div data-role="header" data-position="fixed">
    <a id="back" href="#" data-icon="back">Back</a>
    <h4 id="title">Send SMS</h4>
    <a href="#" data-icon="info" data-role="button" class="ui-btn-right" id="about">How to use this app</a>
</div>


<div data-role="content" id="sms_content">
            <label for="phone">Recipient Number:</label>
            <select name="phone" id="phone">
            </select>
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
    <button id="send" class="submit">Send</button>
</div>